#titulo{
    background-color: green;
    color: white;
}

#sub_titulo{
    background-color: darkgrey;
}

.celdas{
    background-color: lightgray;
}

#celda_0{
    background-color: red;
}

td{
    text-align: center;
}