#titulo{
    background-color: green;
    color: white;
}

#sub_titulo{
    background-color: darkgrey;
}

.celdas{
    background-color: lightgray;
}

#celda_0{
    background-color: red;
}

.numeros{
    text-align: center;
}

#tabla{
    box-sizing: 100px;
}