.contenedor{
    background-color: gray;
    display: flex;
    /*Ese "flex" hace que la pagina sea flexible hasta donde hay espacio, se amontona pero deja amargen*, "inline-flex" acomoda los elementos pero no ajusta la página*/
    display: inline-flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;/*"flex-start" viene por defecto*/
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;

}

.item{
    background-color: blue;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 30px;
    margin: 10px;
}