.contenedor{
    background-color: gray;
    display: inline-flex;
    /*Ese "flex" hace que la pagina sea flexible hasta donde hay espacio, se amontona pero deja amargen*, "inline-flex" acomoda los elementos pero no ajusta la página*/
    flex-wrap: nowrap; /* "Desbordamiento""nowrap" es la que viene por defecto*/
    flex-wrap: wrap; /*Multilinea*/
    flex-wrap: wrap-reverse;
}

.item{
    background-color: blue;
    width: 300px;
    height: 100px;
    margin: 10px;
    color: white;
    font-size: 30px;
}